{% block navbar %}
    <div class='entete'>
            <h3>Bonjour {{name}}</h3>
            {% if name != null and droits == 'admin' %}
                <div class='entete panneauconfi'>
                    <p><a href='{{url}}?panneauAdmin=logout'>Panneau de config</a></p>
                    <p><a href='{{url}}?action=logout'>se deconnecter</a></p>
                </div>
            {% endif %}
            {% if name != null and droits != 'admin' %}
                    <p><a href='{{url}}?action=logout'>se deconnecter</a></p>
            {% endif %}
            
            {% if name == null %}
                {% if name == null %}
                    <div class='nav-bar'><a href='{{url}}?action=identifierUtilisateur'>
                        <figure>
                            <img src="../img/login.jpg" alt="connect">
                            <figcaption>Se connecter</figcaption>
                        </figure> 
                    </a></div>
                {% endif %}
                {% if name != null and droits != 'admin' %}
                    <div class='nav-bar'><a href='{{url}}?action=identifierUtilisateur'>
                        <figure>
                            <img src="../img/login.jpg" alt="connect">
                            <figcaption>Se connecter</figcaption>
                        </figure> 
                    </a></div>
                {% endif %}
                {% if name != null and droits != 'admin' %}
                    <div class='nav-bar'><a href='{{url}}?action=identifierUtilisateur'>
                        <figure>
                            <img src="../img/login.jpg" alt="connect">
                            <figcaption>Se connecter</figcaption>
                        </figure> 
                    </a></div>
                {% endif %}
            {% endif %}  
        </div> 
{% endblock %}