{% extends "base.html.twig" %}
{% block content %}
    {% include "navbar.html.twig" %}
    <div class='description'>  
        <div>
            <h2>{{annonce.ENTETE}}</h2>
            <div class='desc-img'></div>
            <p class='description-text'>{{annonce.CORPS}}</p>
            <div class='desc-date'>
                <p>{{annonce.DATE_DEPOT}}</p>
                <p>{{annonce.expire}}</p>
            </div>
        </div>
        {% if name == annonce.proprietaire  %}
            <div class=''>
                <p><a href='{{url}}?action=editerAnnonce'>Editer Annonce</a></p>
                <p><a href='{{url}}?action=supprimerAnnonce'>supprimerAnnonce</a></p>
            </div>
        {% endif %}
    </div>
{% endblock %}