{% extends "base.html.twig" %}
{% block content %}
    <h2>Bonjour {{name}}</h2>
    {% if name == null %}
        <div class='contenerRubs'>
            {% for rub in rubs %}
                <div class='selectionRubrique'>
                    <p>
                        <figure>
                            <img src='./../img/login.jpg'>
                            <figcation>{{rub.LIBELLE}}</figcaption>
                        </figure>
                    </p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if name != null and droits != 'admin' %}
        <div class='contenerRubs'>
            {% for rub in rubs %}
                <div class='selectionRubrique'>
                    <p>
                        <figure>
                            <img src='./../img/login.jpg'>
                            <figcation>{{rub.LIBELLE}}</figcaption>
                        </figure>
                    </p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if name != null and droits =='admin' %}
        <h5>/!\ Vous êtes en mode superUtilisateur</h5>
        <div class='contenerRubs'>
            {% for rub in rubs %}
                <div class='selectionRubrique'>
                    <p>
                        <figure>
                            <img src='./../img/login.jpg'>
                            <figcation>{{rub.LIBELLE}}</figcaption>
                        </figure>
                    </p>
                    <a href='{{url}}?action=supprimerRubrique&id={{rub.ID}}'><img src='./../img/deleteIcon.svg' title="supprimer la rubrique '{{rub.LIBELLE}}'" alt='supprimerRubrique'></a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}