{% extends "base.html.twig" %}
{% block content %}         
    {% include "navbar.html.twig" %}
    <div class='contenerRubs' id='contenerRubs'>
        {% for rub in rubs %}
            <a href='{{url}}?action=afficherAnnonces&idRub={{rub.ID}}'>
                {{rub.LIBELLE}}
            </a>
        {% endfor %}
    </div>
    {% if name == null %}
        {% for e in annonce %}
            <div class='annonce'>
                <div class='annonce-image'>
                    <img src='../img/login.jpg' />
                    <p>Déposée Par : <b>{{e.proprietaire}}</b> </p>
                </div>
                <div class='annonce-text'>
                    <diV class='annonce-text-corps'>
                        <h2>{{e.ENTETE}}</h2> 
                        <p>Description : <br>{{e.CORPS}} </p>
                        <a href='{{url}}?action=afficherDetailsAnnonces&idAnnonce={{e.ID}}'>Consulter l'annonce</a>
                    </div>
                    <div>
                        <p>déposée le : {{e.DATE_DEPOT}}</p>
                        <p>expire le : {{e.expire}}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    {% if name != null and droits != 'admin' %}
        {% for e in annonce %}
            <div class='annonce'>
                <div class='annonce-image'>
                    <img src='../img/login.jpg' />
                    <p>Déposée Par : <b>{{e.proprietaire}}</b> </p>
                </div>
                <div  class='annonce-text'>
                    {% if name == e.proprietaire %}
                        <a href='{{url}}?action=editerAnnonce'><img src='./../img/editer.png' alt='EditerAnnonce' title="Editer l'annonce"></a>
                        <a href='{{url}}?action=supprimerAnnonce'><img src='./../img/deleteIcon.svg' alt='supprimerAnnonce' title='supprimer annonce'></a>
                    {% endif %}
                    <diV class='annonce-text-corps'>
                        <h2>{{e.ENTETE}}</h2> 
                        <p>Description : <br>{{e.CORPS}} </p>
                        <a href='{{url}}?action=afficherDetailsAnnonces&idAnnonce={{e.ID}}'>Consulter l'annonce</a>
                    </div>
                    <div>
                        <p>déposée le : {{e.DATE_DEPOT}}</p>
                        <p>expire le : {{e.expire}}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
        <p class='ajouterAnnonce'><a href='{{url}}?action=creerAnnonce'>ajouterAnnonce</a></p>
    {% endif %}
    {% if name != null and droits == 'admin' %}
        {% for e in annonce %}
            <div class='annonce'>
                <div class='annonce-image'>
                    <img src='../img/login.jpg' />
                    <p>Déposée Par : <b>{{e.proprietaire}}</b> </p>
                </div>
                <div class='annonce-text'>
                    {% if name == e.proprietaire %}
                        <a href='{{url}}?action=editerAnnonce'><img src='./../img/editer.png' alt='EditerAnnonce' title="Editer l'annonce"></a>
                    {% endif %}
                    <a href='{{url}}?action=supprimerAnnonce&id={{e.ID}}'><img src='./../img/deleteIcon.svg' alt='supprimerAnnonce' title='supprime annonce'> </a>
                    <diV class='annonce-text-corps'>
                        <h2>{{e.ENTETE}}</h2> 
                        <p>Description : <br>{{e.CORPS}} </p>
                        <a href='{{url}}?action=afficherDetailsAnnonces&idAnnonce={{e.ID}}'>Consulter l'annonce</a>
                    </div>
                    <div>
                        <p>déposée le : {{e.DATE_DEPOT}}</p>
                        <p>epire le : {{e.expire}}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
        <p class='ajouterAnnonce'><a href='{{url}}?action=creerAnnonce'>ajouterAnnonce</a></p>
    {% endif %}
{% endblock %}