{% extends "base.html.twig" %}
{% block content %}
    {% include "navbar.html.twig" %}
    {% if name != null and droits =='admin' %}
        <div class=''>
            {% for rub in rubs %}
                <div class=''>
                    <p>
                        {{rub.LIBELLE}}
                    </p>
                    <div>
                    </div>
                        <a href='{{url}}?action=supprimerRubrique&id={{rub.ID}}'><img src='./../img/editer.png' title="editer la rubrique '{{rub.LIBELLE}}'" alt='supprimerRubrique'></a>
                        <a href='{{url}}?action=supprimerRubrique&id={{rub.ID}}'><img src='./../img/deleteIcon.svg' title="supprimer la rubrique '{{rub.LIBELLE}}'" alt='supprimerRubrique'></a>
                    </div>
            {% endfor %}
        </div>
        <a href='{{ url }}?action=ajouterRubrique'>ajouterRubrique</a>
    {% endif %}
{% endblock %}