{% extends "base.html.twig" %}
{% block content %}
{% include "navbar.html.twig" %}
    <h3 class='text-center'>Choisissez votre rubrique</h2>
    <div class='contenerRubs'>
        {% if name == null %}
            {% for rub in rubs %}
                <div class='selectionRubrique'>
                    <a href='{{url}}?action=afficherAnnonces&idRub={{rub.ID}}'>
                        <figure>
                            <img src='./../img/login.jpg'>
                            <figcation>{{rub.LIBELLE}}</figcaption>
                        </figure>
                    </a>
                </div>
            {% endfor %}
        {% endif %}
        {% if name != null and droits != 'admin' %}
            {% for rub in rubs %}
                <div class='selectionRubrique'>
                    <a href='{{url}}?action=afficherAnnonces&idRub={{rub.ID}}'>
                        <figure>
                            <img src='./../img/login.jpg'>
                            <figcation>{{rub.LIBELLE}}</figcaption>
                        </figure>
                    </a>
                </div>
            {% endfor %}
        {% endif %}
        {% if name != null and droits == 'admin' %}
            {% for rub in rubs %}
                <div class='selectionRubrique'>
                    <a href='{{url}}?action=afficherAnnonces&idRub={{rub.ID}}'>
                        <figure>
                            <img src='./../img/login.jpg'>
                            <figcation>{{rub.LIBELLE}}</figcaption>
                        </figure>
                    </a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}