{% extends "base.html.twig" %}
{% block content %}
    {% if name == null %}
        <form action='{{url}}' method='POST'>
            <h3>Bonjour</h3>
            <select name='rub'>
                <option>Selectionner une Rubrique</option>
                {% for rub in rubs %}
                    <option value='{{rub.ID}}'>{{rub.LIBELLE}}</option>
                {% endfor %}
            </select>
            <input type='hidden' value='afficherAnnonce' name='action'>
            <button type='submit'>Valider</button>
        </form>
    {% endif %}
    {% if name != null and droits != 'admin' %}
        <form action='{{url}}' method='POST'>
            <h3>Bonjour {{name}}</h3>
            <select name='rub'>
                <option>Selectionner une Rubrique</option>
                {% for rub in rubs %}
                    <option name='rub' value='{{rub.ID}}'>{{rub.LIBELLE}}</option>
                {% endfor %}
            </select>
            <input type='hidden' value='afficherAnnonce' name='action'>
            <button type='submit'>Valider</button>
        </form>
    {% endif %}
    {% if name != null and droits == 'admin' %}
        <form action='{{url}}' method='POST'>
            <h3>Bonjour {{name}}</h3>
            <h5>Vous êtes en mode superutilisateur attention aux modifications ! </h5>
            <select name='rub'>
                <option>Selectionner une Rubrique</option>
                {% for rub in rubs %}
                    <option value='{{rub.ID}}'>{{rub.LIBELLE}}</option>
                {% endfor %}
            </select>
            <input type='hidden' value='afficherAnnonce' name='action'>
            <button type='submit'>Valider</button>
        </form>
    {% endif %}
    <p><a href='{{ url }}'> Retour à l'accueil</a></p>
{% endblock %}