{% extends "base.html.twig" %}
{% block content %}
    <h3>Bonjour {{name}}</h3>
    <h2>Choisissez votre rubrique</h2>
    {% if name == null %}
        <div class='contenerRubs'>
            {% for rub in rubs %}
                <div class='selectionRubrique'>
                    <a href='{{url}}?action=afficherAnnonces&idRub={{rub.ID}}'>
                        <figure>
                            <img src='./../img/login.jpg'>
                            <figcation>{{rub.LIBELLE}}</figcaption>
                        </figure>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if name != null and droits != 'admin' %}
        <div class='contenerRubs'>
            {% for rub in rubs %}
                <div class='selectionRubrique'>
                    <a href='{{url}}?action=afficherAnnonces&idRub={{rub.ID}}'>
                        <figure>
                            <img src='./../img/login.jpg'>
                            <figcation>{{rub.LIBELLE}}</figcaption>
                        </figure>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if name != null and droits == 'admin' %}
        <h5>Vous êtes en mode superutilisateur attention aux modifications ! </h5>
        <div class='contenerRubs'>
            {% for rub in rubs %}
                <div class='selectionRubrique'>
                    <a href='{{url}}?action=afficherAnnonces&idRub={{rub.ID}}'>
                        <figure>
                            <img src='./../img/login.jpg'>
                            <figcation>{{rub.LIBELLE}}</figcaption>
                        </figure>
                    </a>
                </div>
            {% endfor %}
        <div class='contenerRubs'>
    {% endif %}
    <p><a href='{{ url }}'> Retour à l'accueil</a></p>
{% endblock %}