{% extends "base.html.twig" %}
{% block content %}
{% include "navbar.html.twig" %}
    <div class='header'></div>
    <h3>Choisissez votre rubrique </h2>
    <div class=''>
        {% if name == null %}
                <div>
                    <select id='mySelect' onchange='functionAnnonce(this.value)'>
                        <option>select rubs</option>
                        {% for rub in rubs %}                             
                            <option value='{{rub.ID}}'>{{rub.LIBELLE}} </option>
                        {% endfor %}
                    </select>
                </div>
                <div id='annonce_selected'>
                </div>
        {% endif %}
        {% if name != null and droits != 'admin' %}
            {% for rub in rubs %}
                <div class=''>
                    <a href='{{url}}?action=afficherAnnonces&idRub={{rub.ID}}'>
                        {{rub.LIBELLE}}
                    </a>
                </div>
            {% endfor %}
        {% endif %}
        {% if name != null and droits == 'admin' %}
            {% for rub in rubs %}
                <div class=''>
                    <a href='{{url}}?action=afficherAnnonces&idRub={{rub.ID}}'>
                        {{rub.LIBELLE}}
                    </a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}